*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties

# Signing
*.jks
*.keystore
keystore.properties

# Build outputs
*.apk
*.aab
*.ap_
*.dex

# Log files
*.log

# Android Studio
.navigation/
*.iws

# Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Google services (kalau ada, jangan commit API key)
google-services.json
